<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >{{ (enclosure$ | async)?.name }}&nbsp;&nbsp;<app-indicator
        style="margin-top: 0.1rem"
      ></app-indicator
    ></a>

    <a class="navbar-brand" href="#">pBox2</a>
  </div>
</nav>
<div
  class="container p-4 flex-grow-1 d-flex flex-column"
  *ngIf="enclosure$ | async as enc"
>
  <div class="card flex-grow-1">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let box of boxes$ | async; index as i">
          <a
            class="nav-link active"
            (click)="selectBox(box)"
            [class.active]="(selectedBox$ | async)?.id === box.id"
            >{{ box.name }}</a
          >
        </li>
      </ul>
    </div>
    <div
      class="card-body d-flex flex-column"
      *ngIf="selectedBox$ | async as box"
    >
      <div class="row p-2">
        <div class="col">
          <h5>Fans:</h5>
          <div>
            <app-fan *ngFor="let fan of box.fans" [fan]="fan"></app-fan>
          </div>
        </div>
        <div class="col">
          <h5>Lights:</h5>
          <div>
            <app-light
              *ngFor="let light of box.lights"
              [light]="light"
            ></app-light>
          </div>
        </div>
      </div>
      <hr />
      <div class="col p-2 d-flex flex-column">
        <h5>Sensors:</h5>
        <div class="d-flex flex-grow-1">
          <app-sensor-stats
            *ngFor="let sensor of box.sensors"
            [encId]="enc.id"
            [boxId]="box.id"
            [sensorId]="sensor.id"
            [timeSeries]="sensorDataMap.get(box.id)?.get(sensor.id) | async"
          ></app-sensor-stats>
        </div>
      </div>
    </div>
  </div>
</div>
