<nav class="navbar sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ encName$ | async }}</a>
    <a class="navbar-brand" href="#">pBox2</a>
  </div>
</nav>
<div class="container">
  <div *ngFor="let box of boxes$ | async; index as i" class="row p-3">
    <div class="col">
      <div class="card">
        <h3 class="card-header">Printer: {{ box.name }}</h3>
        <div class="row p-2">
          <div class="col">
            <h5>Fans:</h5>
            <div>
              <app-fan *ngFor="let fan of box.fans" [fan]="fan"></app-fan>
            </div>
          </div>
          <div class="col">
            <h5>Lights:</h5>
            <div>
              <app-light
                *ngFor="let light of box.lights"
                [light]="light"
              ></app-light>
            </div>
          </div>
        </div>
        <hr />
        <div class="col p-2">
          <h5>Sensors:</h5>
          <div>
            <app-sensor-stats
              *ngFor="let sensor of box.sensors"
              [timeSeries]="sensorDataMap.get(box.id)?.get(sensor.id) | async"
            ></app-sensor-stats>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
